/*
* @Author: 32491
* @Date:   2020-12-10 20:59:10
* @Last Modified by:   32491
* @Last Modified time: 2020-12-11 15:45:04
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/* 头部导航栏 */
.topNav{
	height:50px;
	width: 100%;
	background-color: #edf2fb;
}
/* 登录注册 */
.regAndSign{
	float: right;
	margin-right: 40px;
	height: 50px;
	line-height: 50px;
}
.regAndSign a{
	color: #034078;
}
.register{
	float: right;
	/* 字体粗细 */
	/* font-weight: 600; */
}
.split{
	float: right;
	color: #034078;
	/* font-weight: 600; */
	margin-right: 10px;
}
.login{
	float: right;
	/* font-weight: 600; */
	margin-right: 10px;
}
.search{
	margin-right: 80px;
	margin-top: 10px;
	width: 200px;
	height: 38px;
	float: right;
}
.searchInfo{
	display: block;
	width: 174px;
	height: 24px;
	margin-top: 4px;
	border: 1px solid #034078;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	color: #034078;
	text-align: center;
	line-height: 24px;
	opacity: 0.5;
	float: right;
}
.search img{
	display: block;
	margin-top: 10px;
	width: 18px;
	opacity: 0.7;
}


/* 除上方导航栏全部界面 */
.allPage{
	height:1200px;
	width:100%;
	background-color:#EDF2FB
}
/*左侧导航栏 */
.leftNav{
	height: 100%;
	width: 180px;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color:#034078;
	float: left;
	box-shadow: 0px 2px 8px #132f8d;
	/* box-shadow: h-shadow v-shadow blur spread color inset; */
}
.logo{
	margin-top: 40px;
	width: 180px;
	height: 100px;
}
.logo img{
	width: 180px;
}

/* .nav:nth-child(1){
	margin-top: 80px;
} */
.nav{		
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	padding-top:11px;/*(40-18)/2;height减font-size然后除以2*/
	/* border-bottom: 1px solid white; */
	text-align: center;
	/* box-shadow: 0px 0px 20px whitesmoke inset; */
}
.nav a{
	/* 单行垂直居中 */
	height:40px;
	line-height:40px;
	/* 防止内容超出容器或产生自动换行 */
	overflow:hidden;
	font-size: 14px;
	font-weight: 300;
	font-family: "微软雅黑";
	color: white;
	text-indent: 20px;
}

/* 右侧页面内容 */
.rightPage{
	width: calc(100% - 200px);
	/* margin-left: 200px; */
	float: right;
	height: 1200px;
	background-color:#EDF2FB;
}

/* 一、search */
.searchM{
	width:100%;
	height: 50px;
	float: left;
	margin-top:50px;
	opacity: 0.8;
}
/* 下拉框 */
.optionMethod{
	/* 边框为实现 */
	/* 选中时没有聚焦 */
	outline: none;
	border-left: 2px;
	border-top: 2px;
	border-bottom: 2px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-style:solid;
	border-color: #034078;
	float: left;
	margin-left:50px ;
	margin-top: 5px;
	width:120px;
	height: 40px;
	/* 文字 */
	padding-left: 8px;
	font-size: 14px;
	font-weight:550;
	font-family: "微软雅黑";
	background-color:#EDF2FB;
}

.optionMethod option{
	font-size: 14px;
	font-weight:blod;
	font-family: "微软雅黑";
	background-color:#EDF2FB;
}
/* input */
/* 输入数据时，标签不会亮 */
input{
	outline: none;
}
.search_box{
	border: 2px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style:solid;
	border-color: #034078;
	float: left;
	margin-top: 5px;
	width:60%;
	opacity: 0.8;
}
.search_text{
	outline: none;
	border: none;
	background-color:#EDF2FB;
	height: 36px;
	font-size: 14px;
	font-weight: 500;
	font-family: "微软雅黑";
	margin-left: 20px;
	opacity: 0.5;
}

/* 按钮 */
.send{
	border: none;
	width:6%;
	height: 40px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 8px;
	background-color: #034078;
	font-size: 14px;
	font-weight: 500;
	font-family: "微软雅黑";
	color: white;
}

.save{
	border: none;
	width:6%;
	height: 40px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 8px;
	background-color: #034078;
	font-size: 14px;
	font-weight: 500;
	font-family: "微软雅黑";
	color: white;
}

/* 一、search结束 */
/* 二、type */
.type{
	width:100%;
	height: 50px;
	float: left;
	background-color:#EDF2FB;
	margin-top: 10px;

}
.type p{
	float:left;
	margin-left:50px;
	margin-top:20px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #050505;
}
.Body{
	border-bottom: 3px solid #132f8d;
}
/* 二、type结束 */

/* 三、typeSpecific */
.typeSpecific{
	float:left;
	width:100%;
	height: 420px;
	background-color:#EDF2FB;
	margin-top: 5px;
}
/* 单选框 */
.checkR{
	width: calc(100% - 300px);
	height: 50px;
	float: left;
	background-color:#EDF2FB;
	border-bottom: 1px solid  #132f8d;
}
.checkR input{
	float:left;
	margin-left:30px;
	margin-top:20px;
}
#none{
	float:left;
	margin-left:50px;
	margin-top:20px;
}
.checkR p{
	float:left;
	margin-left:3px;
	margin-top:15px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #050505;
}
/* 下拉框 */
.optionts{
	width:300px;
	height: 50px;
	background-color:#EDF2FB;
	border-bottom: 1px solid #132f8d;
	float:left;
	margin-left:0px;
}
.optionTS{
	outline: none;
	float:left;
	margin-left:0px;
	margin-top:10px;
	width:100px;
	height: 30px;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 3px;
	color: #050505;
	border-style:none;
	background-color:#EDF2FB;

}
/* context */
.context{
	width:100%;
	height:300px;
	background-color:#EDF2FB;
	float:left;
	margin-top:40px;
	border-bottom: 1px solid  #132f8d;
}
.request{
	width: calc(100% - 100px);
	float:left;
	margin-left: 50px;
	height:260px;
	border-color: 034078;
}
.request textarea{
	outline: none;
	border-radius: 12px;
	border-color: 034078;
	width:calc(100% - 100px);
	float:left;
	height:260px;
	background-color:#EDF2FB;
}
/* 三、typeSpecific结束 */
/* 四、context开始*/
.response{
	margin-left: 50px;
	float:left;
	width:100%;
	height: 280px;
	background-color:#EDF2FB;
}
.response p{
	font-family: "微软雅黑";
	font-size: 15px;
	color: #808080;
}
.response_Context{
	width: calc(100% - 100px);
	float:left;
	margin-left: 50px;
	height: 260px;
	background-color:#EDF2FB;
}